body {
    background: rgb(16, 78, 139);
    font-family: "Lucida Bright", "Lucida Grande", serif;
}

h4 {
    color: rgb(25, 25, 112);
    margin: 5px 20px;
}

.container {
    width: 95%;
    max-width: 620px;
    border: 4px solid rgb(255, 185, 15);
    margin: 40px auto;
    background-color: white;
    padding: 25px 5px 5px;
}

.container img {
    width: 90%;
    padding: 3px;
}

.banner {
    text-align: center;
}

.red-line {
    background-color: red;
    width: 95%;
    height: 4px;
    margin: 2px auto 6px;
}

.content ol {
    margin: 7px;
}

.content li {
    margin: 10px 4px;
    font-size: small;
}

.footer {
    clear: both;
    padding: 5px;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", serif;
    font-size: 60%;
}